name: Build VPN APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y wget unzip zip

      - name: Download Xray ARM64
        run: |
          wget https://github.com/XTLS/Xray-core/releases/latest/download/Xray-linux-arm64-v8a.zip
          unzip Xray-linux-arm64-v8a.zip
          chmod +x xray

      - name: Create APK
        run: |
          mkdir app
          cp xray app/
          cp config.json app/
          cd app
          zip VPN-VIP.apk xray config.json

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: VPN-VIP-APK
          path: app/VPN-VIP.apk
