name: Build VPN APK Simple

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Install tools
      run: |
        sudo apt update
        sudo apt install -y zip wget unzip

    - name: Download Xray ARM64
      run: |
        wget https://github.com/XTLS/Xray-core/releases/latest/download/Xray-linux-arm64-v8a.zip
        unzip Xray-linux-arm64-v8a.zip
        chmod +x xray

    - name: Create APK folder
      run: |
        mkdir build
        cp xray build/
        cp config.json build/
        cp main.py build/

    - name: Build APK file
      run: |
        cd build
        zip -r VPN-VIP.apk .

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: VPN-VIP-APK
        path: build/VPN-VIP.apk
