name: Build VPN APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y wget unzip zip

      - name: Download Xray
        run: |
          wget https://github.com/XTLS/Xray-core/releases/latest/download/Xray-linux-arm64-v8a.zip
          unzip Xray-linux-arm64-v8a.zip
          chmod +x xray

      - name: Create build folder
        run: |
          mkdir -p build/assets
          cp xray build/assets/
          cp config.json build/assets/

      - name: Create APK file
        run: |
          cd build
          zip -r VPN-VIP.apk assets
          ls -lah

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: VPN-VIP-APK
          path: build/VPN-VIP.apk
